#contact {
    margin-top: 30px;
    text-align: center;

    .column-container{
        @include flex-container(true);
        width: 100% !important;

        .about-left{
            @include breakpoint($breakpoint-small, 'width', (
                min: (
                    width: 50%,
                    float: left,
                    text-align: right,
                    overflow: hidden,
                    position: relative
                ),
                max: (
                    width: 90%,
                    margin: 0 5%,
                    text-align: center
                )
            ));

            .about-image{
                float: right;
                padding-right: 3%;
            }

            @media only screen and (max-width: $breakpoint-med) and (min-width: $breakpoint-small){
                .about-image{
                    width: 175%;
                    max-width: 789px;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                }
            }

            @include respond-to($breakpoint-small, 'max-width') {
                .about-image {
                    max-width: 100%;
                    margin-top: 20px;
                }
            }
        }

        .about-right{
            @include breakpoint($breakpoint-small, 'width', (
                min: (
                    width: 35%,
                    padding-right: 15%,
                    margin-top: 30px,
                    float: right
                ),
                max: (
                    width: 90%,
                    padding: 0 5%
                )
            ));

            .row {
                text-align: center;
                margin-bottom: 50px;

                .left, .right {
                    width: 49%;
                    display: inline-block;

                    h4 {
                        color: $vibrant-purple;
                    }
                }

                .center {
                    width: 100%;
                    margin-left: auto;
                    margin-right: auto;

                    h4 {
                        color: $vibrant-purple;
                    }
                }
            }
        }
    }

    .column-container::after{
        content: "";
        display: table;
        clear: both;
    }

    .clear{
        clear: both;
    }
}

.social-icons{
    width: 100%;

    .icon{
        display: inline-block;
        vertical-align: middle;
        margin: 0 10px 0 10px;
        opacity: .6;
        transition: opacity 0.2s ease-out;
    }

    .icon:hover{
        opacity: 1;
    }
}