#programming {
	background-color: $deep-purple;

    .section-container {
        @include container-centered;

        height: 700px;

        .section-header {
            width: 100%;
            padding-top: 30px;
            text-align: center;

            h2 {
                color: white;
            }
        }
    }
}