#about {
    @include container-centered;

    background-color: white;

    @include breakpoint($breakpoint-small, 'width', (
        min: (
            padding-top: 30px
        ),
        max: (
            padding-top: 0
        )
    ));

    .highlight-purple {
        font-weight: bolder;
        color: $vibrant-purple;
        font-size: 1.10rem;
    }

    .column-container{
        @include flex-container(false);

        .about-left{
            @include breakpoint($breakpoint-small, 'width', (
                min: (
                    width: 40%,
                    padding-left: 10%,
                    float: left
                ),
                max: (
                    width: 90%,
                    margin: 0 5%,
                    text-align: center
                )
            ));

            .images-container {
                width: 100%;
                margin-top: 25px;

                .main-portrait {
                    width: 70%;
                }
            }
        }

        .about-right{
            @include breakpoint($breakpoint-small, 'width', (
                min: (
                    width: 40%,
                    padding-right: 10%,
                    float: right
                ),
                max: (
                    width: 90%,
                    padding: 0 5%
                )
            ));

            .row {
                text-align: center;
                margin-bottom: 50px;

                .left, .right {
                    width: 49%;
                    display: inline-block;

                    h4 {
                        color: $vibrant-purple;
                    }
                }

                .center {
                    width: 100%;
                    margin-left: auto;
                    margin-right: auto;

                    h4 {
                        color: $vibrant-purple;
                    }
                }
            }
        }
    }

    .column-container::after{
        content: "";
        display: table;
        clear: both;
    }

    .clear{
        clear: both;
    }
}