.content-menu-container {
    width: 100%;
    box-sizing: border-box;

    /* Style the tab */
    .tab {
      float: left;
      border-right: 1px solid $deep-purple;
      width: 15%;
      height: 250px;
    }

    /* Style the buttons that are used to open the tab content */
    .tab button {
        font-size: 1.1rem;
        font-family: 'Roboto Condensed', sans-serif;
        display: block;
        background-color: inherit;
        color: black;
        padding: 10px 16px;
        width: 100%;
        border: none;
        outline: none;
        text-align: right;
        cursor: pointer;
        transition: 0.3s;
    }
}