@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto+Condensed');
@import 'grid';

@import 'abstracts/breakpoints';
@import 'abstracts/mixins';

@import 'base/palette';
@import 'base/typography';

@import 'components/header';
@import 'components/titles';
@import 'components/content-menu';

@import 'sections/about';
@import 'sections/sound-design';
@import 'sections/programming';
@import 'sections/contact';

@import 'base/landing';

html,
body,
section,
ul,
ol{
    margin: 0;
    padding: 0;
}

.main-header {
    @include full-width;
    background-color: $deep-purple;
    text-align: center;
    padding: 1rem 0;

    .brand-image {
        width: 96%;
        max-width: 550px;
        padding: 10px 0;
    }
}

.nav-header {
    @include full-width;
    height: 40px;
    background-color: $purple;
}

#landing {
    background-color: $grey;

    .reel-container {
        width: 100%;
        max-width: 1000px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding: 70px 0;

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}

footer{
    width: 100%;
    padding: 5px 0 5px 0;
    background-color: $deep-purple;
    text-align: center;
    color: white;

    p{
        margin: 0;
        font-size: 0.6em;
    }
}